__pycache__/
*.py[codz]
*$py.class
*~

/docs/site/

.env
.envrc
.venv
.venv-temporary-*
ENV/
env.bak/
env/
venv.bak/
venv/

*.cover
*.egg-info/
*.py.cover
.Python
.cache
.coverage
.coverage.*
.dir-locals.el
.dmypy.json
.emacs.desktop
.emacs.desktop.lock
.hypothesis/
.idea/
.ipynb_checkpoints
.mypy_cache/
.nox/
.pypirc
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.ruff_cache/
.spyderproject
.spyproject
.tox/
.vscode/
MANIFEST
__pypackages__/
build/
cover/
coverage.xml
dist/
dmypy.json
htmlcov/
ipython_config.py
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
wheels/
